<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.shoppingCollector.model.dao.TestMapper">
    <select id="getAllCategoryList" resultType="study.shoppingCollector.model.dto.Category" parameterType="study.shoppingCollector.model.dto.User">
        SELECT * FROM CATEGORY where user_id=#{user_id};
    </select>

    <select id="getItemInCategory" resultType="study.shoppingCollector.model.dto.Item" parameterType="study.shoppingCollector.model.dto.Category">
        SELECT * FROM Item where category_id=#{category_id};
    </select>

    <select id="getCategoryId" resultType="int" parameterType="study.shoppingCollector.model.dto.Category">
        SELECT category_id FROM category where name=#{name};
    </select>

    <select id="findByUser" resultType="study.shoppingCollector.model.dto.User" parameterType="String">
        SELECT * FROM user where email=#{email};
    </select>

    <select id="insertCategory" parameterType="study.shoppingCollector.model.dto.Category" resultType="Integer">
        INSERT INTO CATEGORY(NAME,USER_ID) VALUES(#{name},#{user_id});
    </select>

    <select id="deleteCategory" parameterType="study.shoppingCollector.model.dto.Category" resultType="Integer">
        DELETE FROM CATEGORY WHERE NAME=#{name} and user_id=#{user_id}
    </select>
</mapper>